body {
  margin-top: 50px;
  font-family: "Montserrat", sans-serif;
  
}


#search {
  display: inline;
  background-color: #0b5ed7;
  color: white;
  border-style: solid 1px #65abd6;
  border-radius: 5px;
  border-color: #0d6efd;
  padding: 5px 10px; 
  margin-left: 5px;
  font-size: 15px;
  width:100px;

}
#current{
  font-size: 15px;
  width: 150px;
  padding: 5px 10px; 
}
#celsius{
  margin: 10px 0px 6px 10px ;
}


#farenheit
{ margin: 10px 0px 6px 0px ;
}

.container {
  margin:60px;
  padding: 40px;
  border-style: solid;
  border-width: 0.5px;
  border-color: #adcbdd;
  border-radius: 5px;
  background-color: rgb(235, 229, 250, .1);
  width:700px;
}
.celsiusDegree{
  margin-left: 20px;
}
.cityname {
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 30px;
}
.countryname {
  font-size: 25px;
}
.degreeunit {
  background-color: #0b5ed7;
  color: white;
  border-style: solid 1px #65abd6;
  display: inline;
  
}
.btn-outline-secondary:hover {     
  background-color:#0b5ed7;    
  color: white;
}

.btn-outline-secondary:focus {     
  background-color:#6092dd;    
  color: white;
}

.searchbar {
  width: 300px;
  display: inline;
  margin: 10px 0px 10px;
}

.searchbar:hover {
  box-shadow: inset 0.5px 0.5px 2px #adcbdd;
}
.maininfo {
  font-size: 30px;
  font-weight: bolder;
  margin: 20px 0px 20px 10px;
  border-style: solid;
  border-width: 0.5px;
  border-color: #adcbdd;
  border-radius: 5px;
  padding: 10px 10px 10px 10px; 
  width: 565px;
  display: block;
}
.description{
  font-size: 20px;
  font-weight: bolder;
  text-transform: capitalize;
}
.dayoftheweek {
  font-size: 25px;
  font-weight: normal;
}
.secondary {
  font-size: 18px;
  font-weight: lighter;
  margin: 15px  15px; 
}
.forcastSection{
  width: 900px;
}
.nextdays {
  border-style: solid;
  border-width: 0.5px;
  border-color: #adcbdd;
  border-radius: 5px;
  padding: 10px 10px;
  margin: 10px 5px;
  text-align: center;
}
.nextdays:hover {
  box-shadow: 1px 1px 5px #adcbdd;
}

.degreeofnextdays {
  font-size: 14px;
}
.nextdaysicons {
  text-align: center;
  color: #65abd6;
  margin: 10px 10px;
  font-size: 25px;
}
.iconmainday {
  font-size: 30px;
  color: #65abd6;
  margin-left: 30px;
}
.daysofnextdays {
  font-size: 16px;
  margin-bottom: 10px;
}
.secondaryinfos {
  padding-left: 12px;
}
.min-temperature{
  opacity: 0.5;
}
